@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme("colors.backgroundDark");
    border-radius: theme("borderRadius.xl");
    height: fit-content;
  }
}
html {
  overflow-y: scroll;
}

body {
  color: #ffffffcc;
}
